# Python и Django
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.env
*.env.*
.envrc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
migrations/
*.migrate

# Firebase
okututor-firebase-adminsdk.json
okututor-f276b-firebase-adminsdk-fbsvc-a53a702b8f.json
firebase-adminsdk.json
*.json  #
# Ignore Firebase service account
okututor-f276b-firebase-adminsdk-fbsvc-a53a702b8f.json
# Временные файлы и редакторы
*.swp
*~
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Зависимости
node_modules/
dist/
build/

# Тесты и отчёты
*.coverage
coverage/
htmlcov/
.pytest_cache/
.tox/
.coverage.*
*.cover
*.xml
*.lcov

# Локальные настройки
local_settings.py
settings_local.py

# Прочие
*.bak
*.gho
*.orig
*.tmp
*.temp