<!DOCTYPE html>
<html>
<head>
    <title>Мои курсы</title>
</head>
<body>
    <h1>Мои курсы</h1>
    {% if courses %}
        <ul>
        {% for course in courses %}
            <li>
                <strong>{{ course.title }}</strong><br>
                Дни: {{ course.get_days_display }}
                {% if course.specific_days %} ({{ course.specific_days }}) {% endif %}<br>
                Размер группы: {{ course.get_group_size_display }}<br>
                Место: {{ course.get_location_type_display }}<br>
                Описание: {{ course.description }}<br>
                Стаж: {{ course.experience }} лет<br>
                Цена: {{ course.price_per_hour }} KGS/час<br>
                Создан: {{ course.created_at }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет курсов.</p>
    {% endif %}
    <p><a href="{% url 'create_course' %}">Добавить курс</a></p>
    <p><a href="{% url 'profile' %}">Вернуться в профиль</a></p>
</body>
</html>